*{
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    height: 100%;
    width: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html,body {
	line-height: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(85, 161, 161);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
    width: 40rem;
    height: auto;
}
.input-container{
    width: 100%;
    height: 3rem;
}
.input-group{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
}
.input-group input{
    width: 100%;
    border-radius:0.4rem 0 0 0.4rem ;
    border: 0.01rem solid rgb(47, 135, 170);
    color: black;
    padding: 0 1rem;
}
.input-group input::placeholder{
    font-size: 1rem;
    font-weight:lighter;
    transition: 500ms;
}
.input-button{
    width: 3rem;
    height: 3rem;
    display: flex;
    border: 0.1rem solid rgb(32, 155, 204);
    background: rgb(32, 155, 204);
    border-radius: 0 0.4rem 0.4rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
}
.input-button:hover{
    background: rgb(0, 168, 235);
    border: 0.1rem solid rgb(0, 168, 235);
}
.input-button button{
    width: 2.3rem;
    height: 2rem;
    border: none;
    border-radius: 0.2rem;
}
.input-button button:active{
    background: rgb(212, 213, 214);
}

.task-list-ctn{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.task-list-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 0.02px solid black;
    border-radius: 0.2rem;
    height: 3rem;
    padding: 0 2rem;
}
.task-header ,h2 , .delete-button,a, .delete-all{
    width: max-content;
    height: auto;
}
.delete-all{
    display: flex;
    align-items: center;
    justify-content: center;
    background: brown;
    width:5rem ;
    height: 2rem;
    border-radius: 0.2rem;
}
.delete-all:hover{
    background: crimson;
}

.list-group {
    width: 100%;
    height: auto; 
}
.box{
    width: 1rem;
    height: 1rem;
    background: chartreuse;
    cursor: pointer;
}
.list-box{
    width: auto;
    height: 2rem;
}


.list-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list-box h1{
    max-width: 20rem;
    height: auto;
}
.list-box .dlt-btn-box{
    width: 1rem;
    height: 1rem;
    background: chocolate;
    border: none;
    border-radius: 0.2rem;
}
.list-box .dlt-btn-box:hover{
    background: rgb(255, 106, 0);
}